nav.navbar {
  width: 100vw;
  padding: 5px 100px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

a.notification-btn {
  margin-right: 1rem;
}

a.notification-btn:hover {
  background-color: rgb(227, 227, 227);
}

a.notification-btn>span {
  background-color: rgb(96, 96, 96);
}

button.avatar-btn:hover {
  background-color: rgb(227, 227, 227);
}

.dropdown {
  display: inline;
}

#avatarPhoto {
  border-radius: 200px;
  object-fit: cover;
}

@media screen and (max-width: 480px) {

  nav.navbar {
    width: 100vw;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(220, 220, 220);
  }
}