<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="/csc309-restify/resources/css/app.css">
  <title>Restify - Home</title>
</head>

<body>
  <header>
    <nav class="navbar bg-body-tertiary fixed-top mb-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="/csc309-restify/views/home.html">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd"
            class="bi bi-r-square-fill align-text-bottom" viewBox="0 0 16 16">
            <path d="M6.835 5.092v2.777h1.549c.995 0 1.573-.463 1.573-1.36 0-.913-.596-1.417-1.537-1.417H6.835Z" />
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm3.5 4.002h3.11c1.71 0 2.741.973 2.741 2.46 0 1.138-.667 1.94-1.495 2.24L11.5 12H9.98L8.52 8.924H6.836V12H5.5V4.002Z" />
          </svg>
          <span class="fs-2 fw-bold">Restify</span>
        </a>
        <div>
          <a href="/csc309-restify/views/users/login.html" class="btn btn-outline-primary">Log in</a>
          <a href="/csc309-restify/views/users/sign-up.html" class="btn btn-primary">Sign up</a>
        </div>
    </nav>
  </header>

  <main class="card d-block">
    <h1 class="text-center mb-3 fw-bold">Welcome to Restify!</h1>
    <div class="main-searchbar d-flex mt-4 mb-5">
      <input type="text" class="form-control" id="search" placeholder="Search for properties...">
      <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
      </button>
    </div>
    <div class="dropdown d-flex justify-content-between">
      <h3>Picked for you...</h3>
      <div class="property-filter">

        <button class="property-order avatar-btn btn dropdown-toggle" type="button" id="dropdownFilterButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          Filters
        </button>
        <ul id="filters" class="dropdown-menu" aria-labelledby="dropdownFilterButton">
          <li class="d-flex justify-content-between">Beds:
            <span><input type="number" placeholder="Min"><input type="number" placeholder="Max"></span>
          </li>
          <li class="d-flex justify-content-between">Baths:
            <span><input type="number" placeholder="Min"><input type="number" placeholder="Max"></span>
          </li>
          <li class="d-flex justify-content-between">Guests:
            <span><input type="number" placeholder="Min"><input type="number" placeholder="Max"></span>
          </li>
          <li class="d-flex justify-content-between">Price($):
            <span><input type="number" placeholder="Min" step="0.01"><input type="number" placeholder="Max"
                step="0.01"></span>
          </li>
          <li class="d-flex justify-content-end"><a href="/csc309-restify/views/home-alt.html"
              class="btn btn-secondary mt-2 btn-sm">Apply filters</a>
          </li>
        </ul>

        <button class="property-order avatar-btn btn dropdown-toggle" type="button" id="dropdownOrderByButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          Price (Low-High)
        </button>
        <ul id="orderBy" class="dropdown-menu" aria-labelledby="dropdownOrderByButton">
          <li><a class="dropdown-item" href="#">Price (High-Low)</a></li>
          <li><a class="dropdown-item" href="#">Beds (High-Low)</a></li>
          <li><a class="dropdown-item" href="#">Baths (High-Low)</a></li>
          <li><a class="dropdown-item" href="#">Guests (High-Low)</a></li>
        </ul>
      </div>

    </div>

    </div>

    <div class="properties-list d-flex justify-content-evenly flex-wrap mt-3">

      <div class="card property">
        <img src="/csc309-restify/resources/img/properties_home/p0.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Banff, Alberta, CAN</h5>
          <p class="card-text mb-1">Quaint wooden cottage in the Banff nature park...</p>
          <p class="card-text property-stats mt-0 mb-1">2 beds, 1 bath, 4 guests</p>
          <p class="card-text property-stats mt-0 mb-2">$220 per night</p>
          <a href="#" class="btn btn-secondary">View property</a>
        </div>
      </div>

      <div class="card property">
        <img src="/csc309-restify/resources/img/properties_home/p1.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Toronto, Ontario, CAN</h5>
          <p class="card-text mb-1">Amazing 2 bedroom apartment in the heart of downtown toronto...</p>
          <p class="card-text property-stats mt-0 mb-1">2 beds, 1 bath, 4 guests</p>
          <p class="card-text property-stats mt-0 mb-2">$390 per night</p>
          <a href="#" class="btn btn-secondary">View property</a>
        </div>
      </div>

      <div class="card property">
        <img src="/csc309-restify/resources/img/properties_home/p2.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Honolulu, Hawaii, US</h5>
          <p class="card-text mb-1">Beautiful beachside house with many amenities... </p>
          <p class="card-text property-stats mt-0 mb-1">4 beds, 3 bath, 7 guests</p>
          <p class="card-text property-stats mt-0 mb-2">$430 per night</p>
          <a href="#" class="btn btn-secondary">View property</a>
        </div>
      </div>

      <div class="card property">
        <img src="/csc309-restify/resources/img/properties_home/p4.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Brig, Swiss Alps, CH</h5>
          <p class="card-text mb-1">Large wooden cottage in the Switzerland Alpine region...</p>
          <p class="card-text property-stats mt-0 mb-1">4 beds, 4 bath, 8 guests</p>
          <p class="card-text property-stats mt-0 mb-2">$450 per night</p>
          <a href="#" class="btn btn-secondary">View property</a>
        </div>
      </div>

      <div class="card property">
        <img src="/csc309-restify/resources/img/properties_home/p5.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Discovery Bay, HK</h5>
          <p class="card-text mb-1">Modern townhouse in the nature retreat of Hong Kong...</p>
          <p class="card-text property-stats mt-0 mb-1">3 beds, 3 bath, 6 guests</p>
          <p class="card-text property-stats mt-0 mb-2">$540 per night</p>
          <a href="#" class="btn btn-secondary">View property</a>
        </div>
      </div>

      <div class="card property">
        <img src="/csc309-restify/resources/img/properties_home/p6.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Manhattan, NY, US</h5>
          <p class="card-text mb-1">Spacious 2 bedroom apartment in the heart of fast-paced New York...</p>
          <p class="card-text property-stats mt-0 mb-1">2 beds, 2 bath, 4 guests</p>
          <p class="card-text property-stats mt-0 mb-2">$710 per night</p>
          <a href="#" class="btn btn-secondary">View property</a>
        </div>
      </div>

      <div class="card property">
        <img src="/csc309-restify/resources/img/properties_home/p7.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Los Angeles, CA, US</h5>
          <p class="card-text mb-1">Luxurious modern house in the Californian hills...</p>
          <p class="card-text property-stats mt-0 mb-1">5 beds, 6 bath, 8 guests</p>
          <p class="card-text property-stats mt-0 mb-2">$850 per night</p>
          <a href="#" class="btn btn-secondary">View property</a>
        </div>
      </div>

      <div class="card property">
        <img src="/csc309-restify/resources/img/properties_home/p8.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Montreal, Quebec, CAN</h5>
          <p class="card-text mb-1">Beautiful villa with european architecture...</p>
          <p class="card-text property-stats mt-0 mb-1">8 beds, 6 bath, 14 guests</p>
          <p class="card-text property-stats mt-0 mb-2">$920 per night</p>
          <a href="#" class="btn btn-secondary">View property</a>
        </div>
      </div>

    </div>
  </main>

  <footer class="fixed-bottom text-center">
    <div class="text-center text-secondary p-3">
      © 2023 Copyright: <a class="text-secondary" href="/csc309-restify/views/home.html">Restify.com</a>
    </div>
  </footer>
</body>

</html>