.debug {
    background-color: cyan;
}

.reviewer-pic {
    object-fit: cover;
    width: min(125px, 15vw);
    height: min(125px, 15vw);
    max-width: 150px;
    max-height: 150px;
}

.ratings {
    max-height: 300px;
}

.commenter-pic {
    object-fit: cover;
    width: min(80px, 15vw);
    height: min(80px, 15vw);
    max-width: 150px;
    max-height: 150px;
}

#carouselPropertyImg img {
    object-fit: cover;
    height: 350px;
    max-height: 50vw;
}