<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/csc309-restify/resources/css/app.css">
    <link rel="stylesheet" href="/csc309-restify/resources/css/my-reservations.css">
    <title>Restify - My Reservations</title>
</head>

<body>
    <header>
        <nav class="navbar bg-body-tertiary fixed-top mb-5">
            <div class="container-fluid">
                <a class="navbar-brand" href="/csc309-restify/views/home.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd"
                        class="bi bi-r-square-fill align-text-bottom" viewBox="0 0 16 16">
                        <path
                            d="M6.835 5.092v2.777h1.549c.995 0 1.573-.463 1.573-1.36 0-.913-.596-1.417-1.537-1.417H6.835Z" />
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm3.5 4.002h3.11c1.71 0 2.741.973 2.741 2.46 0 1.138-.667 1.94-1.495 2.24L11.5 12H9.98L8.52 8.924H6.836V12H5.5V4.002Z" />
                    </svg>
                    <span class="fs-2 fw-bold">Restify</span>
                </a>
                <div>
                    <a href="/csc309-restify/views/notifications.html" class="notification-btn btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd"
                            class="bi bi-bell-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                        </svg>
                        <span class="badge badge-dark bg-primary">3</span>
                    </a>
                    <div class="dropdown">
                        <button class="avatar-btn btn dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="/csc309-restify/views/users/profile_view.html">My
                                    profile</a></li>
                            <li><a class="dropdown-item"
                                    href="/csc309-restify/views/reservations/my_reservations.html">My
                                    reservations</a></li>
                            <li><a class="dropdown-item"
                                    href="/csc309-restify/views/reservations/my_rental_units.html">My
                                    properties</a></li>
                            <li><a class="dropdown-item" href="/csc309-restify/views/home-2.html">Sign out</a></li>
                        </ul>
                    </div>
                </div>
        </nav>
    </header>

    <!-- Deletion message -->
    <div class="modal fade" id="termination-request-modal" tabindex="-1"
        aria-labelledby="termination-request-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="termination-request-modal-label">Confirm reservation
                        termination request</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to request to terminate this reservation? Note that the owner may not
                    accept your request.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Nevermind</button>
                    <button type="button" class="btn btn-danger">Yes, please proceed</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="termination-modal" tabindex="-1" aria-labelledby="termination-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="termination-modal-label">Confirm reservation termination</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to terminate this reservation?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Nevermind</button>
                    <button type="button" class="btn btn-danger">Yes, please proceed</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deny-modal" tabindex="-1" aria-labelledby="deny-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deny-modal-label">Confirm reservation request denial</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to DENY this reservation request?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Nevermind</button>
                    <button type="button" class="btn btn-danger">Yes, please proceed</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="accept-modal" tabindex="-1" aria-labelledby="accept-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="accept-modal-label">Confirm reservation acceptance</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to ACCEPT this reservation request?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Nevermind</button>
                    <button type="button" class="btn btn-success">Yes, please proceed</button>
                </div>
            </div>
        </div>
    </div>

    <main class="card d-block">


        <!-- "Incoming" and "Outgoing" reservations navigation tabs -->
        <nav>
            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                <button class="nav-link active" id="outgoing-reservations-tab" data-bs-toggle="tab"
                    data-bs-target="#outgoing-reservations" type="button" role="tab"
                    aria-controls="outgoing-reservations" aria-selected="true">Outgoing Reservations</button>
                <button class="nav-link" id="nav-incoming-reservations-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-incoming-reservations" type="button" role="tab"
                    aria-controls="nav-incoming-reservations" aria-selected="false">Incoming Reservations</button>
            </div>
        </nav>

        <!-- Outgoing Reservations -->
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="outgoing-reservations" role="tabpanel"
                aria-labelledby="outgoing-reservations-tab">
                <div class="container">
                    <div class="table-responsive text-start overflow-auto">
                        <table class="table border align-middle table-hover">
                            <thead>
                                <tr>
                                    <th>Rental Unit</th>
                                    <th>Location</th>
                                    <th>Status</th>
                                    <th>Check-in</th>
                                    <th>Check-out</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">

                                <!-- First row -->
                                <tr class="reservation-row">
                                    <td>
                                        <div>
                                            <a href="/csc309-restify/views/properties/property_view.html" class="no-decor">
                                                <img src="/csc309-restify/resources/img/house.jpg"
                                                    class="reservation-img img-fluid">
                                                <p class="ms-2 text-nowrap d-inline reservation-row">Property 1
                                                    <p>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        123 Random Street, Boring, Oregon, USA
                                    </td>
                                    <td>
                                        <span class="badge rounded-pill bg-success">Approved</span>
                                    </td>
                                    <td>
                                        01/01/2023
                                    </td>
                                    <td>
                                        02/01/2023
                                    </td>
                                    <td>
                                        <div class="dropdown float-end">
                                            <button class="btn text-black bg-transparent" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <!-- This is the "vertical three dots" -->
                                                &#xFE19;
                                            </button>
                                            <ul class="rounded p-0 dropdown-menu">
                                                <li>
                                                    <!-- We have to manually make the terminate button darken upon hover because buttons need extra work to match the styling of dropdown-item -->
                                                    <button type="button"
                                                        class="rounded dropdown-item delete-btn text-light"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#termination-request-modal">
                                                        Request to Terminate
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="reservation-row">
                                    <td>
                                        <div>
                                            <a href="/csc309-restify/views/properties/property_view_user_comment.html" class="no-decor">
                                                <img src="/csc309-restify/resources/img/house2.jpg"
                                                    class="reservation-img img-fluid">
                                                <p class="m-2 text-nowrap d-inline reservation-row">Property 2<p>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        321 Another Boulevard, Bland, New South Wales, Australia
                                    </td>
                                    <td>
                                        <span class="badge rounded-pill bg-primary">Completed</span>
                                    </td>
                                    <td>
                                        02/02/2023
                                    </td>
                                    <td>
                                        03/02/2023
                                    </td>
                                    <td>
                                        <div class="dropdown float-end">
                                            <button class="btn text-black bg-transparent" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <!-- This is the "vertical three dots" -->
                                                &#xFE19;
                                            </button>
                                            <ul class="rounded p-0 dropdown-menu">
                                                <li>
                                                    <!-- We have to manually make this Delete button darken upon hover because buttons need extra work to match the styling of dropdown-item -->
                                                    <button type="button"
                                                        class="rounded dropdown-item delete-btn text-light"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#termination-request-modal">
                                                        Request to Terminate
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>

            <!-- Incoming Reservations -->
            <div class="tab-pane fade" id="nav-incoming-reservations" role="tabpanel"
                aria-labelledby="nav-incoming-reservations-tab">
                <div class="container">
                    <div class="table-responsive text-start overflow-auto">
                        <table class="table border align-middle table-hover">
                            <thead>
                                <tr>
                                    <th>Rental Unit</th>
                                    <th>Location</th>
                                    <th>Reserver</th>
                                    <th>Status</th>
                                    <th>Check-in</th>
                                    <th>Check-out</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">

                                <!-- First row -->
                                <tr class="reservation-row">
                                    <td>
                                        <div>
                                            <a href="/csc309-restify/views/properties/property_view_host.html" class="no-decor">
                                                <img src="/csc309-restify/resources/img/house.jpg"
                                                    class="reservation-img img-fluid">
                                                <p class="ms-2 text-nowrap d-inline reservation-row">Property 1
                                                    <p>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        123 Random Street, Boring, Oregon, USA
                                    </td>
                                    <td class="text-center">
                                        <a href="/csc309-restify/views/users/profile_view_host.html" class="no-decor">
                                            <img class="reserver-avatar"
                                                src="https://vectorified.com/images/generic-avatar-icon-1.jpg"
                                                class="reservation-img img-fluid">
                                            <p class="ms-2 text-nowrap d-inline reservation-row">Albert Einstein<p>
                                        </a>
                                    </td>
                                    <td>
                                        <span class="badge rounded-pill bg-secondary">Pending</span>
                                    </td>
                                    <td>
                                        01/01/2023
                                    </td>
                                    <td>
                                        02/01/2023
                                    </td>
                                    <td>
                                        <div>
                                            <div>
                                                <button type="button" class="btn rounded btn-sm delete-btn text-light"
                                                    data-bs-toggle="modal" data-bs-target="#deny-modal">
                                                    &#128473;
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn rounded btn-sm approve-btn text-light"
                                            data-bs-toggle="modal" data-bs-target="#accept-modal">
                                            &#10003;
                                        </button>
                                    </td>
                                </tr>

                                <tr class="reservation-row">
                                    <td>
                                        <div>
                                            <a href="/csc309-restify/views/properties/property_view_host.html" class="no-decor">
                                                <img src="/csc309-restify/resources/img/house2.jpg"
                                                    class="reservation-img img-fluid">
                                                <p class="m-2 text-nowrap d-inline reservation-row">Property 2<p>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        321 Another Boulevard, Bland, New South Wales, Australia
                                    </td>
                                    <td class="text-center">
                                        <a href="/csc309-restify/views/users/profile_view_host.html" class="no-decor">
                                            <img class="reserver-avatar"
                                                src="https://vectorified.com/images/generic-avatar-icon-1.jpg"
                                                class="reservation-img img-fluid">
                                            <p class="ms-2 text-nowrap d-inline reservation-row">Albert Einstein<p>
                                        </a>
                                    </td>
                                    <td>
                                        <span class="badge rounded-pill bg-success">Approved</span>
                                    </td>
                                    <td>
                                        02/02/2023
                                    </td>
                                    <td>
                                        03/02/2023
                                    </td>
                                    <td>
                                        <button type="button" class="btn rounded btn-sm delete-btn text-light"
                                            data-bs-toggle="modal" data-bs-target="#termination-modal">
                                            &#128473;
                                        </button>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>
        </div>



    </main>

    <footer class="fixed-bottom text-center">
        <div class="text-center text-secondary p-3">
            © 2023 Copyright: <a class="text-secondary" href="/csc309-restify/views/home.html">Restify.com</a>
        </div>
    </footer>
</body>

</html>