<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restify - Property View</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/csc309-restify/resources/css/app.css">
    <link rel="stylesheet" href="/csc309-restify/resources/css/property_view.css">
</head>

<!-- Booking Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Booking Request</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to request a reservation?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="/csc309-restify/views/reservations/my_reservations.html">Yes</a>
            </div>
        </div>
    </div>
</div>

<!-- Create Comment Modal -->
<div class="modal fade" id="createComment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a Rating</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label class="me-2">Rating:
                    <span id="userRatingLabelRating">3</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="gold" width=16 height=20
                        class="bi bi-star-fill align-text-bottom" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                </label>
                <div>
                    <input type="range" class="form-range w-75" id="userRating" min="1" max="5" step="1"
                        onchange="document.getElementById('userRatingLabelRating').innerText = document.getElementById('userRating').value">
                </div>
                <div>
                    <label class="mb-2">Comments:</label>
                    <div>
                        <textarea class="w-100 h-100" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary"
                    href="/csc309-restify/views/properties/property_view.html#ratings-section">Add Rating</a>
            </div>
        </div>
    </div>
</div>

<body class="d-flex">
    <header>
        <nav class="navbar bg-body-tertiary fixed-top mb-5">
            <div class="container-fluid">
                <a class="navbar-brand" href="/csc309-restify/views/home.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd"
                        class="bi bi-r-square-fill align-text-bottom" viewBox="0 0 16 16">
                        <path
                            d="M6.835 5.092v2.777h1.549c.995 0 1.573-.463 1.573-1.36 0-.913-.596-1.417-1.537-1.417H6.835Z" />
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm3.5 4.002h3.11c1.71 0 2.741.973 2.741 2.46 0 1.138-.667 1.94-1.495 2.24L11.5 12H9.98L8.52 8.924H6.836V12H5.5V4.002Z" />
                    </svg>
                    <span class="fs-2 fw-bold">Restify</span>
                </a>
                <div>
                    <a href="/csc309-restify/views/notifications.html" class="notification-btn btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd"
                            class="bi bi-bell-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                        </svg>
                        <span class="badge badge-dark bg-primary">3</span>
                    </a>
                    <div class="dropdown">
                        <button class="avatar-btn btn dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="/csc309-restify/views/users/profile_view.html">My
                                    profile</a></li>
                            <li><a class="dropdown-item"
                                    href="/csc309-restify/views/reservations/my_reservations.html">My
                                    reservations</a></li>
                            <li><a class="dropdown-item"
                                    href="/csc309-restify/views/reservations/my_rental_units.html">My
                                    properties</a></li>
                            <li><a class="dropdown-item" href="/csc309-restify/views/home-2.html">Sign out</a></li>
                        </ul>
                    </div>
                </div>
        </nav>
    </header>
    <main class="card d-block">
        <h1 class="mb-2">Amazing House, Antarctica</h1>
        <div class="mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="gold" width=16 height=20
                class="bi bi-star-fill align-text-bottom" viewBox="0 0 16 16">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
            </svg>
            <span class="">4.50</span>
            <a class="" href="#ratings-section">(123 Reviews)</a>
        </div>
        <!-- Start carousel -->
        <div id="carouselPropertyImg" class="carousel slide carousel-fade" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselPropertyImg" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselPropertyImg" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselPropertyImg" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/csc309-restify/resources/img/background-signup.jpeg" class="d-block w-100 rounded"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/csc309-restify/resources/img/background-home.jpeg" class="d-block w-100 rounded"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/csc309-restify/resources/img/background-login.jpeg" class="d-block w-100 rounded"
                        alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPropertyImg"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPropertyImg"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- End carousel -->

        <!-- Start infopanel -->
        <div class="d-flex flex-row mt-2 mb-3">
            <div class="p-2 border border-end-0 border-2">Up to 4 guest(s)</div>
            <div class="p-2 border border-2">4 Bed(s)</div>
            <div class="p-2 border border-start-0 border-2">2 Bath(s)</div>
        </div>
        <!-- End infopanel -->

        <!-- Start Host Information -->
        <div class="d-flex align-items-center mb-4">
            <div class="me-2">
                <a href="/csc309-restify/views/users/profile_view.html">
                    <img class="reviewer-pic img rounded-circle shadow" src="/csc309-restify/resources/img/bill-nye.jpg"
                        alt="Reviewer picture">
                </a>
            </div>
            <div>
                <p class="m-0 mb-2"><strong>Hosted by: <span class="fw-b"><u>Bill Nye</u></strong></span></p>
                <p class="m-0 small">Email: bill.nye.fakemail.com</p>
                <p class="m-0 small">Phone: (123) 456-7891</p>
            </div>
        </div>
        <!-- End Host Information -->

        <!-- Start description -->
        <div>
            <hr>
            <h2>Your Next Destination</h2>
            <p>100 Fake Street, City, Province/State, Country, A1A 1A1</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </div>
        <!-- End description -->

        <!-- Start amenities -->
        <div>
            <hr>
            <h2>Amenities to Enjoy</h2>
            <div class="mb-2">By staying here, you'll enjoy these amenities:</div>
            <div class="d-flex flex-wrap">
                <div class="bg-primary text-white rounded p-1 me-2 mb-1">
                    Hi-Speed Wi-Fi
                </div>
                <div class="bg-info text-white rounded p-1 me-2 mb-1">
                    Outdoor Pool
                </div>
                <div class="bg-success text-white rounded p-1 me-2 mb-1">
                    Central A/C
                </div>
                <div class="bg-danger text-white rounded p-1 me-2 mb-1">
                    Washer & Dryer
                </div>
            </div>
        </div>
        <!-- End amenities -->

        <!-- Start comments -->
        <div class="pb-3">
            <hr>
            <h2 class="mb-3" id="ratings-section">What Others Are Saying</h2>
            <div class="overflow-auto border-top pt-2 border-bottom pb-1 ps-1 mb-3 shadow-sm ratings">
                <!-- Entire new comment -->
                <div class="d-flex flex-column p-1 mb-2">
                    <!-- Profile picture + info -->
                    <div class="d-flex flex-row mb-1">
                        <!-- Profile picture -->
                        <div class="d-flex flex-column me-2">
                            <a href="/csc309-restify/views/users/profile_view.html"><img class="commenter-pic img rounded-circle"
                                    src="/csc309-restify/resources/img/Albert-Einstein.jpg" alt="Reviewer picture"></a>
                        </div>
                        <!-- Info -->
                        <div class="d-flex flex-column">
                            <div class="fw-bold">Albert Einstein</div>
                            <div>Feb. 23, 2023</div>
                            <span>
                                <span>4</span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="gold" width=16 height=20
                                    class="bi bi-star-fill align-text-bottom" viewBox="0 0 16 16">
                                    <path
                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                            </span>
                        </div>
                    </div>
                    <!-- Actual review -->
                    <div>
                        <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</div>
                    </div>
                </div>
                <!-- Entire host response comment -->
                <div class="d-flex flex-column bg-light rounded p-2 mb-2 ms-2">
                    <!-- Profile picture + info -->
                    <div class="d-flex flex-row mb-1">
                        <!-- Profile picture -->
                        <div class="d-flex flex-column me-2">
                            <a href="/csc309-restify/views/users/profile_view.html"><img class="commenter-pic img rounded-circle"
                                    src="/csc309-restify/resources/img/bill-nye.jpg" alt="Reviewer picture"></a>
                        </div>
                        <!-- Info -->
                        <div class="d-flex flex-column">
                            <div class="fw-bold">Bill Nye</div>
                            <div>Feb. 23, 2023</div>
                            <div class="fst-italic">Host Response</div>
                        </div>
                    </div>
                    <!-- Actual review -->
                    <div>
                        <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</div>
                    </div>
                </div>
                <!-- Entire user response comment -->
                <div class="d-flex flex-column p-1 mb-2 ms-4">
                    <!-- Profile picture + info -->
                    <div class="d-flex flex-row mb-1">
                        <!-- Profile picture -->
                        <div class="d-flex flex-column me-2">
                            <a href="/csc309-restify/views/users/profile_view.html"><img class="commenter-pic img rounded-circle"
                                    src="/csc309-restify/resources/img/Albert-Einstein.jpg" alt="Reviewer picture"></a>
                        </div>
                        <!-- Info -->
                        <div class="d-flex flex-column">
                            <div class="fw-bold">Albert Einstein</div>
                            <div>Feb. 23, 2023</div>
                            <div class="fst-italic">User Response</div>
                        </div>
                    </div>
                    <!-- Actual review -->
                    <div>
                        <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</div>
                    </div>
                </div>
                <!-- Entire new comment -->
                <div class="d-flex flex-column p-1 mb-2">
                    <!-- Profile picture + info -->
                    <div class="d-flex flex-row mb-1">
                        <!-- Profile picture -->
                        <div class="d-flex flex-column me-2">
                            <a href="/csc309-restify/views/users/profile_view.html"><img class="commenter-pic img rounded-circle"
                                    src="/csc309-restify/resources/img/isaac-newton.jpg" alt="Reviewer picture"></a>
                        </div>
                        <!-- Info -->
                        <div class="d-flex flex-column">
                            <div class="fw-bold">Isaac Newton</div>
                            <div>Feb. 23, 2023</div>
                            <span>
                                <span>1</span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="gold" width=16 height=20
                                    class="bi bi-star-fill align-text-bottom" viewBox="0 0 16 16">
                                    <path
                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                            </span>
                        </div>
                    </div>
                    <!-- Actual review -->
                    <div>
                        <div class="">Terrible. Just terrible. I don't want to say it's totally awful but it really is.
                            I can't believe that someone actually thought that this was acceptable for a human being to
                            stay in. This was simply the worst experience that I've ever had in my life, no joke. Cannot
                            recommend for any person who was born on Earth. If I could give 0 stars, I absolutely would.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Create new rating -->
            <div>
                <h5>You stayed at this property before.</h5>
                <div class="mb-2">Care to share your thoughts?</div>
                <button type="button" class="btn btn-warning border shadow" data-bs-toggle="modal"
                    data-bs-target="#createComment">Rate Your Experience</a>
            </div>
        </div>
        <!-- End comments -->

        <!-- Start booking -->
        <div>
            <hr>
            <h2 class="mb-3">Decided?</h2>
            <div class="mb-4">Request a reservation now!</div>
            <h4>Length of Stay</h4>
            <div class="d-flex flex-wrap ms-1 mb-4 p-0">
                <div class="flex-column me-5">
                    <div><em>Check-in Date</em></div>
                    <div class="mb-1">
                        <select class="">
                            <option>YYYY</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                        </select>
                        <select class="">
                            <option>MM</option>
                            <option>Feb</option>
                            <option>Mar</option>
                            <option>Apr</option>
                        </select>
                        <select class="">
                            <option>DD</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                        </select>
                    </div>
                </div>
                <div class="flex-column">
                    <div><em>Check-out Date</em></div>
                    <div class="mb-1">
                        <select class="">
                            <option>YYYY</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                        </select>
                        <select class="">
                            <option>MM</option>
                            <option>Feb</option>
                            <option>Mar</option>
                            <option>Apr</option>
                        </select>
                        <select class="">
                            <option>DD</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                        </select>
                    </div>
                </div>
            </div>
            <h4>Subtotal</h4>
            <div class="d-flex mb-2">
                <div class="flex-column align-items-start">
                    <div class="p-2 pe-5 border-top border-bottom border-primary border-3">
                        <div><strong>Nightly Rate:</strong></div>
                        <div>Up to <em class="fs-5">$60.00</em></div>
                    </div>
                    <div class="p-2 pe-5 border-bottom border-primary border-3">
                        <div><strong>Feb:</strong></div>
                        <div>$60.00 x 5 nights</div>
                        <div><strong>Mar:</strong></div>
                        <div>$55.00 x 2 nights</div>
                        <!-- <div class="mt-2">= $410.00</div> -->
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <span>Your total is: </span><span class="fw-bold mt-2 mb-2 fs-3">$410.00</span>
            </div>
            <div>
                <button type="button" class="btn btn-primary mt-1" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    Request Booking
                </button>
            </div>
        </div>
        <!-- End booking -->
        <footer class="fixed-bottom text-center">
            <div class="text-center text-secondary p-3">
                © 2023 Copyright: <a class="text-secondary" href="/csc309-restify/views/home.html">Restify.com</a>
            </div>
        </footer>
    </main>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
</body>

</html>