<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="/csc309-restify/resources/css/app.css">
  <link rel="stylesheet" href="/csc309-restify/resources/css/property_create_edit.css">
  <title>Restify - Create Property</title>
</head>

<body>
  <header>
    <nav class="navbar bg-body-tertiary fixed-top mb-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="/csc309-restify/views/home.html">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd"
            class="bi bi-r-square-fill align-text-bottom" viewBox="0 0 16 16">
            <path d="M6.835 5.092v2.777h1.549c.995 0 1.573-.463 1.573-1.36 0-.913-.596-1.417-1.537-1.417H6.835Z" />
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm3.5 4.002h3.11c1.71 0 2.741.973 2.741 2.46 0 1.138-.667 1.94-1.495 2.24L11.5 12H9.98L8.52 8.924H6.836V12H5.5V4.002Z" />
          </svg>
          <span class="fs-2 fw-bold">Restify</span>
        </a>
        <div>
          <a href="/csc309-restify/views/notifications.html" class="notification-btn btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd" class="bi bi-bell-fill"
              viewBox="0 0 16 16">
              <path
                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
            </svg>
            <span class="badge badge-dark bg-primary">3</span>
          </a>
          <div class="dropdown">
            <button class="avatar-btn btn dropdown-toggle" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd" class="bi bi-person-circle"
                viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
              </svg>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="/csc309-restify/views/users/profile_view.html">My profile</a></li>
              <li><a class="dropdown-item" href="/csc309-restify/views/reservations/my_reservations.html">My
                  reservations</a></li>
              <li><a class="dropdown-item" href="/csc309-restify/views/reservations/my_rental_units.html">My
                  properties</a></li>
              <li><a class="dropdown-item" href="/csc309-restify/views/home-2.html">Sign out</a></li>
            </ul>
          </div>
        </div>
    </nav>
  </header>

  <main class="card d-block">
    <div class="container">
      <div>
        <h1 class="text-center mb-4">New Rental Unit Creation</h1>
      </div>

      <h2 class="mb-3">General</h2>

      <form action="" method="POST">
        <div class="mb-3">
          <label for="property-name" class="form-label">Property Name</label>
          <input type="email" class="form-control" id="property-name" aria-describedby="">
        </div>


        <!-- Location -->

        <div class="mb-3">
          <label>Country</label>
          <input type="text" class="form-control" id="" placeholder="" aria-describedby="">
        </div>

        <div class="row">
          <label>Province/State</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="" placeholder="">
          </div>
        </div>

        <div class="row">
          <label>City</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="" placeholder="">
          </div>
        </div>

        <div class="mb-3">
          <label for="" class="form-label">Street Address</label>
          <input type="text" class="form-control" id="" aria-describedby="">
        </div>

        <div class="mb-3">
          <label for="" class="form-label">Description</label>
          <textarea type="text" class="form-control" id="" rows="6"></textarea>
        </div>

        <!-- Images -->

        <h5 class="mb-3">Edit Images</h5>

        <div class="mb-3">
          <!-- Flex wrap and justify left -->
          <div class="d-flex flex-wrap flex-row justify-content-start">
            <!-- Hide the file input button, but keep its functionality  -->
            <div class="image-upload">
              <label for="img-input">
                <div class="img-container">
                  <img class="image-editable"
                    src="https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png" />
                  <!-- "Edit" icon-->
                  <!-- Make it unclickable so that hover doesn't break when it's on top -->
                  <i class="unclickable img-icon-centered text-black bi bi-pencil-square"></i>
                  </button>
                </div>
              </label>
              <input id="img-input" type="file" />
            </div>

            <div class="image-upload">
              <label for="file-input">
                <div class="img-container">
                  <img class="image-editable"
                    src="https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png" />
                  <!-- "Edit" icon-->
                  <!-- Make it unclickable so that hover doesn't break when it's on top -->
                  <i class="unclickable img-icon-centered text-black bi bi-pencil-square"></i>
                  </button>
                </div>
              </label>
              <input id="file-input" type="file" />
            </div>

            <div class="image-upload">
              <label for="file-input">
                <div class="img-container">
                  <img class="image-editable"
                    src="https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png" />
                  <!-- "Edit" icon-->
                  <!-- Make it unclickable so that hover doesn't break when it's on top -->
                  <i class="unclickable img-icon-centered text-black bi bi-pencil-square"></i>
                  </button>
                </div>
              </label>
              <input id="file-input" type="file" />
            </div>

            <div class="image-upload">
              <label for="file-input">
                <div class="img-container">
                  <img class="image-editable"
                    src="https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png" />
                  <!-- "Edit" icon-->
                  <!-- Make it unclickable so that hover doesn't break when it's on top -->
                  <i class="unclickable img-icon-centered text-black bi bi-pencil-square"></i>
                  </button>
                </div>
              </label>
              <input id="file-input" type="file" />
            </div>

            <div class="image-upload">
              <label for="file-input">
                <div class="img-container">
                  <img class="image-editable"
                    src="https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png" />
                  <!-- "Edit" icon-->
                  <!-- Make it unclickable so that hover doesn't break when it's on top -->
                  <i class="unclickable img-icon-centered text-black bi bi-pencil-square"></i>
                  </button>
                </div>
              </label>
              <input id="file-input" type="file" />
            </div>

            <div class="image-upload">
              <label for="file-input">
                <div class="img-container">
                  <img class="image-editable"
                    src="https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png" />
                  <!-- "Edit" icon-->
                  <!-- Make it unclickable so that hover doesn't break when it's on top -->
                  <i class="unclickable img-icon-centered text-black bi bi-pencil-square"></i>
                  </button>
                </div>
              </label>
              <input id="file-input" type="file" />
            </div>

          </div>
        </div>

        <div class="mb-3">
          <h3>Property Specifics</h3>
          <div class="form-group">
            <label for="formControlRange">Maximum Number of Guests: <span id="num-guests-value">10</span></label>
            <input type="range" class="form-range" min="0" max="20" id="num-guests-slider"
              onChange="document.getElementById('num-guests-value').innerText = document.getElementById('num-guests-slider').value">
          </div>
          <div class="form-group">
            <label for="formControlRange">Beds: <span id="num-beds-value">5</span></label>
            <input type="range" class="form-range" min="0" max="10" id="num-beds-slider"
              onChange="document.getElementById('num-beds-value').innerText = document.getElementById('num-beds-slider').value">
          </div>
          <div class="form-group">
            <label for="formControlRange">Baths: <span id="num-baths-value">5</span></label>
            <input type="range" class="form-range" min="0" max="10" id="num-baths-slider"
              onChange="document.getElementById('num-baths-value').innerText = document.getElementById('num-baths-slider').value">
          </div>
        </div>

        <!-- Amenities -->
        <div class="mb-3">
          <h5>Amenities</h5>

          <div class="d-flex flex-wrap flex-row justify-content-start">
            <div class="me-3 form-check">
              <input class="form-check-input" type="checkbox" value="" id="amenity1">
              <label class="form-check-label" for="amenity1">
                Amenity 1
              </label>
            </div>

            <div class="me-3 form-check">
              <input class="form-check-input" type="checkbox" value="" id="amenity2">
              <label class="form-check-label" for="amenity2">
                Amenity 2
              </label>
            </div>

            <div class="me-3 form-check">
              <input class="form-check-input" type="checkbox" value="" id="amenity3">
              <label class="form-check-label" for="amenity3">
                Amenity 3
              </label>
            </div>

            <div class="me-3 form-check">
              <input class="form-check-input" type="checkbox" value="" id="amenity4">
              <label class="form-check-label" for="amenity4">
                Amenity 4
              </label>
            </div>

            <div class="me-3 form-check">
              <input class="form-check-input" type="checkbox" value="" id="amenity5">
              <label class="form-check-label" for="amenity5">
                Amenity 5
              </label>
            </div>

            <div class="me-3 form-check">
              <input class="form-check-input" type="checkbox" value="" id="amenity6">
              <label class="form-check-label" for="amenity6">
                Amenity 6
              </label>
            </div>

          </div>
        </div>

        <div class="mb-3">
          <h3>Pricing</h3>

          <label for="nightly-price-input">Default Nightly Price</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">$</span>
            </div>
            <input type="text" class="form-control" id="nightly-price-input" aria-describedby="basic-addon3">
          </div>

          <div class="mb-3">
            <div class="form-text">
              Here, you can control:
            </div>
            <div class="form-text">
              - Which months guests are not allowed to check-in to this property
            </div>
            <div class="form-text">
              - Custom nightly rates for each month, as a percentage of the regular nightly rate
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th class="" scope="col">Month</th>
                  <th class="text-center" scope="col">Not Available?</th>
                  <th class="text-center" scope="col">Percentage of nightly price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jan</td>
                  <td class="text-center">
                    <input class="form-check-input" type="checkbox" value="" id="">
                  </td>
                  <td class="text-center">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" value="100" placeholder="100" aria-label=""
                        aria-describedby="" maxlength="3">
                      <span class="input-group-text" id="">%</span>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Feb</td>
                  <td class="text-center">
                    <input class="form-check-input" type="checkbox" value="" id="">
                  </td>
                  <td class="text-center">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" value="100" placeholder="100" aria-label=""
                        aria-describedby="" maxlength="3">
                      <span class="input-group-text" id="">%</span>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Mar</td>
                  <td class="text-center">
                    <input class="form-check-input" type="checkbox" value="" id="">
                  </td>
                  <td class="text-center">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" value="100" placeholder="100" aria-label=""
                        aria-describedby="" maxlength="3">
                      <span class="input-group-text" id="">%</span>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Apr</td>
                  <td class="text-center">
                    <input class="form-check-input" type="checkbox" value="" id="">
                  </td>
                  <td class="text-center">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" value="100" placeholder="100" aria-label=""
                        aria-describedby="" maxlength="3">
                      <span class="input-group-text" id="">%</span>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>May</td>
                  <td class="text-center">
                    <input class="form-check-input" type="checkbox" value="" id="">
                  </td>
                  <td class="text-center">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" value="100" placeholder="100" aria-label=""
                        aria-describedby="" maxlength="3">
                      <span class="input-group-text" id="">%</span>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Jun</td>
                  <td class="text-center">
                    <input class="form-check-input" type="checkbox" value="" id="">
                  </td>
                  <td class="text-center">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" value="100" placeholder="100" aria-label=""
                        aria-describedby="" maxlength="3">
                      <span class="input-group-text" id="">%</span>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Jul</td>
                  <td class="text-center">
                    <input class="form-check-input" type="checkbox" value="" id="">
                  </td>
                  <td class="text-center">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" value="100" placeholder="100" aria-label=""
                        aria-describedby="" maxlength="3">
                      <span class="input-group-text" id="">%</span>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Aug</td>
                  <td class="text-center">
                    <input class="form-check-input" type="checkbox" value="" id="">
                  </td>
                  <td class="text-center">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" value="100" placeholder="100" aria-label=""
                        aria-describedby="" maxlength="3">
                      <span class="input-group-text" id="">%</span>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Sep</td>
                  <td class="text-center">
                    <input class="form-check-input" type="checkbox" value="" id="">
                  </td>
                  <td class="text-center">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" value="100" placeholder="100" aria-label=""
                        aria-describedby="" maxlength="3">
                      <span class="input-group-text" id="">%</span>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Oct</td>
                  <td class="text-center">
                    <input class="form-check-input" type="checkbox" value="" id="">
                  </td>
                  <td class="text-center">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" value="100" placeholder="100" aria-label=""
                        aria-describedby="" maxlength="3">
                      <span class="input-group-text" id="">%</span>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Nov</td>
                  <td class="text-center">
                    <input class="form-check-input" type="checkbox" value="" id="">
                  </td>
                  <td class="text-center">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" value="100" placeholder="100" aria-label=""
                        aria-describedby="" maxlength="3">
                      <span class="input-group-text" id="">%</span>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Dec</td>
                  <td class="text-center">
                    <input class="form-check-input" type="checkbox" value="" id="">
                  </td>
                  <td class="text-center">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" value="100" placeholder="100" aria-label=""
                        aria-describedby="" maxlength="3">
                      <span class="input-group-text" id="">%</span>
                    </div>
                  </td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>

        <h2 class="mb-3">Contact Information</h2>

        <div class="mb-2">
          <!-- Contact info -->
          <label for="" class="form-label">Contact Phone</label>
          <input type="tel" class="form-control" id="" aria-describedby="">
          <div id="" class="form-text mb-3">
            Guests will contact you using this phone number.
          </div>

          <label for="" class="form-label">Contact Email</label>
          <input type="email" class="form-control" id="" aria-describedby="">
          <div id="" class="form-text">Guests will contact you using this email.</div>
        </div>

        <a href="/csc309-restify/views/properties/property_view_host.html" class="btn btn-primary" role="button">Save Settings</a>
    </div>

    </form>


  </main>

  <footer class="fixed-bottom text-center">
    <div class="text-center text-secondary p-3">
      © 2023 Copyright: <a class="text-secondary" href="/csc309-restify/views/home.html">Restify.com</a>
    </div>
  </footer>
</body>

</html>