.dropdown {
  display: inline;
}

#landingPage {
  width: min(1000px, 100vw - 1rem);
  padding: 2rem 3rem;
  margin: auto;
}

.property-filter>button {
  border: 1.5px grey solid;
  border-radius: 8px;
  color: grey;
}

.property-filter>button {
  border: 1.5px grey solid;
  border-radius: 8px;
  color: grey;
}

.property-filter>button:hover {
  border: 1.5px grey solid;
  background-color: rgb(235, 235, 235);
  color: grey;
}

ul#filters>li {
  padding: 0.1rem 0.25rem;
}

ul#filters>li input {
  width: 80px;
  margin-left: 10px;
}

@media screen and (max-width: 480px) {
  .property-filter>button {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .dropdown>h3 {
    display: none;
  }
}